.container {
  display: flex;
}
.navigasi {
  flex: 0.5;
  border: 1px solid;
}
.main {
  flex: 1.5;
  border: 1px solid;
}
a {
  text-decoration: none;
  color: black;
}
#anonym {
  color: #f99d1c;
}
.navigasi h1 {
  text-align: center;
}
.navigasi img {
  width: 200px;
  height: 75px;
}
nav {
  height: 400px;
  border: 5px outset;
}
.headnav {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 5px;
}
.headnav img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.nav {
  margin-left: 30px;
  margin-top: 20px;
}
.nav span {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.nav img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.footer img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
footer span {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-left: 5px;
}
.head-container {
  display: flex;
  align-items: center;
  border: 1px solid;
  padding: 5px;
}

.head-container button img {
  width: 16px;
  height: 16px;
}
.profil {
  display: flex;
  align-items: center;
  margin-left: 850px;
  color: #f99d1c;
}
.profil img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.content {
  display: grid;
  grid-template-areas:
    "header header header"
    "course1 course2 course3"
    "course4 course5 course6";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr;
  background-color: #c9f6ff;
  border: 2px inset;
  padding-left: 15px;
}
.mainVideo{
  background: #c9f6ff;
}
.headmain{
  background: white;
}
.content h1 {
  grid-area: header;
  font-family: "Roboto", "sans-serif";
  color: #f07e0b;
}
.course1 {
  grid-area: course1;
  text-align: center;
  font-size: 20px;
}
.course2 {
  grid-area: course2;
  text-align: center;
  font-size: 20px;
}
.course3 {
  grid-area: course3;
  text-align: center;
  font-size: 20px;
}
.course4 {
  grid-area: course4;
  text-align: center;
  font-size: 20px;
}
.course5 {
  grid-area: course5;
  text-align: center;
  font-size: 20px;
}
.course6 {
  grid-area: course6;
  text-align: center;
  font-size: 20px;
}
.content span {
  font-weight: bold;
  font-family: "Roboto", "sans-serif";
  color: #f07e0b;
}
.materiLogo{
  width: 300px;
  height: 300px;
}
.contentAbout{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  background-color: #c9f6ff;
  border: 2px inset;
  padding: 50px;
  font-family: Cambria;
}
.contentAbout p{
  font-size: 17px;
  word-spacing: 4px;
}
.contentAbout h1{
  font-size: 40px;
}
.column.side{
  width: 40%;
}
.column.side img{
  margin-top: 55px;
  width: 350px;
}
.column.main{
  width: 95%;
  border-style: none;
}
.content:after{
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px){
  .column.side, .column.main{
    width: 100%;
  }
}
.footerAbout{
  background-color: #f1f1f1;
  padding: 10px;
  font-family: Cambria;
  text-align: center;
}
.footerAbout h2{
  font-size: 28px;
}
.tableAbout{
  width: 100%;
}
.team{
  width: 200px;
  border-radius: 100px;
}
.dataTable{
  width: 33.33%;
  padding: 3px;
  font-size: 17px;
}
.cp{
  width: 17px;
  margin-bottom: auto;
}